@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
    :root {
        --background: 0 0% 93%;
        --foreground: 0 0% 5%;
        --card: 0 0% 85%;
        --card-foreground: 0 0% 5%;
        --popover: 0 0% 85%;
        --popover-foreground: 0 0% 5%;
        --primary: 24 69% 75%;
        --primary-foreground: 0 0% 5%;
        --secondary: 54 68% 66%;
        --secondary-foreground: 0 0% 5%;
        --muted: 0 0% 73%;
        --muted-foreground: 0 0% 30%;
        --accent: 354 68% 66%;
        --accent-foreground: 0 0% 0%;
        --destructive: 1 96% 64%;
        --destructive-foreground: 0 0% 0%;
        --border: 0 0% 83%;
        --input: 0 0% 78%;
        --ring: 16 68% 44%;
        --chart-1: 24 68% 61%;
        --chart-2: 174 68% 61%;
        --chart-3: 234 68% 61%;
        --chart-4: 354 68% 61%;
        --chart-5: 54 68% 61%;
        --radius: 1rem;
    }

    .dark {
        --background: 0 0% 2%;
        --foreground: 0 0% 95%;
        --card: 0 0% 7%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 95%;
        --primary: 24 68% 49%;
        --primary-foreground: 0 0% 0%;
        --secondary: 54 68% 54%;
        --secondary-foreground: 0 0% 5%;
        --muted: 0 0% 18%;
        --muted-foreground: 0 0% 70%;
        --accent: 354 68% 56%;
        --accent-foreground: 0 0% 100%;
        --destructive: 1 96% 37%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 27%;
        --input: 0 0% 22%;
        --ring: 16 68% 44%;
        --chart-1: 24 68% 61%;
        --chart-2: 174 68% 61%;
        --chart-3: 234 68% 61%;
        --chart-4: 354 68% 61%;
        --chart-5: 54 68% 61%;
    }

    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));
}

body {
    @apply bg-black;
}

main {
    @apply w-full min-h-screen flex flex-col items-center bg-radial-[at_50%_50%] from-gray-700 to-black to-50% rounded-full;
   

}

h1 {
    @apply font-medium text-4xl text-foreground;
}

h2 {
    @apply font-medium text-2xl text-foreground;
}
